# put secrets in here (in order to test ouath)

# see https://github.com/settings/developers
config :ueberauth, Ueberauth.Strategy.Github.OAuth,
  client_id: "MY_GITHUB_CLIENT_ID",
  client_secret: "MY_GITHUB_CLIENT_SECRET"

# see https://gitlab.com/profile/applications
config :ueberauth, Ueberauth.Strategy.Gitlab.OAuth,
  client_id: "MY_GITLAB_CLIENT_ID",
  client_secret: "MY_GITLAB_CLIENT_SECRET",
  redirect_uri: "http://localhost:4000/auth/gitlab/callback"
